body
	{
		margin: 0 auto;
		
	}
table 
	{
		font:bold 13px Verdana;
	}
p 
	{
		font:normal 11px Tahoma,Verdana;
	}
input,select 
	{
		font:normal 12px Tahoma,Verdana;
	}
select 
	{
		width:40px;
	}
a 
	{
		font-weight:bold;
	}
.jeu
	{
		margin: 0 auto;
		
	}
.tower 
	{
		position:absolute;
		visibility:visible;
		left:77px;
		top:184px;
		font:bold 10px Tahoma;
	}

.container 
	{
		position:absolute;
		visibility:visible;
	}
.towervert 
	{
		position:absolute;
		visibility:visible;
		border:3px solid burlywood;
		background-color:burlywood;
	}
.towerhoriz 
	{
		position:absolute;
		visibility:visible;
		border:3px solid burlywood;
		font-size:1px;
		background-color:burlywood;
	}
.disk 
	{
		position:absolute;
		visibility:visible;
		border:1px solid black;
		border-radius: 10px;
	}
.imgReward
	{
		position: fixed;
	    right: 0px;
	    bottom: 0px;
	    background-image: url(img1.jpg);


	}
.texteRewardParchemin
	{
		position: fixed;
		right: 10px;
		top: 10px;
		padding-top: 50px;
		
		
		text-align: center;
	}
.texteReward
	{
		position: fixed;
		right: 60px;
		top: 10px;
		padding-top: 50px;
		
		font-family: Georgia;
		font-style: italic;
		font-size: 15px;
		
		text-align: center;
	}

#disk1
	{
		background-image: url(Bois279.jpg);

  		background-repeat:repeat;
	}
#disk2
	{
		background-image: url(Bois140.jpg);

  		background-repeat:repeat;
	}

#disk3
	{
		background-image: url(Bois280.jpg);

  		background-repeat:repeat;
	}
#disk4
	{
		background-image: url(Bois242.jpg);

  		background-repeat:repeat;
	}
#disk5
	{
		background-image: url(Bois083.jpg);

  		background-repeat:repeat;
	}
#disk6
	{
		background-image: url(Bois279.jpg);

  		background-repeat:repeat;
	}
#disk7
	{
		background-image: url(Bois140.jpg);

  		background-repeat:repeat;
	}
#disk8
	{
		background-image: url(Bois280.jpg);

  		background-repeat:repeat;
	}

@media screen and (max-width: 1260px)
{
   .texteRewardParchemin
		{
			position: absolute;
			
			padding-top: 50px;
			
			
			text-align: center;
		}
	.texteReward
		{
			position: absolute;
			right: 60px;
			top: 10px;
			padding-top: 50px;
			
			font-family: Georgia;
			font-style: italic;
			font-size: 15px;
			
			text-align: center;
		}
}